<main>
  <.flash_group flash={@flash} />

  <div class="h-screen overflow-auto">
    <%= @inner_content %>
    <!-- 
    <left>
      <p>
        2023 NonceGeekDAO. ALL RIGHTS RESERVED.
      </p>
    </left>

    <right>
        Email: <a href="mailto:leeduckgo@gmail.com">leeduckgo@gmail.com</a>
        <br>
        Telegram: @leeduckgo
    </right>
    TODO: footprint -->
  </div>
</main>
